$body-width: 320px;

$main-bg-color: #81b3d2;
$form-input-bg-color: #f2f2f2;
$menu-bottom-border-color: #678fa8;

$basic-font-family: "PT Sans", "Arial", sans-serif;
$menu-font-color: #ffffff;

$tablet-widths: "(min-width: 768px)";
$desktop-widths: "(min-width: 1200px)";
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
