.body {
  font-family: $basic-font-family;
  width: $body-width;
  margin: 0 auto;
  text-align: center;
  background-color: #f1f1f1;

  @media #{$tablet-widths} {
    width: 768px
  }

  @media #{$desktop-widths} {
    width: 1200px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
  }
}
