.body {
  font-family: $basic-font-family;
  width: $body-width;
  margin: 0 auto;
  text-align: center;

  @media #{$tablet-widths} {
    width: 768px
  }

  @media #{$desktop-widths} {
    width: 1200px
  }
}
