.burger-button {
  width: 23px;
  height: 23px;
  border: 0;
  background-color: transparent;
  padding: 0;
  cursor: pointer;

  background-image: url("../img/icon-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
}
