.button {
  display: flex;
  border: 0;
  background-color: $main-bg-color;
  color: #ffffff;
  font-family: $basic-font-family;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    color: rgba(255, 255, 255, .3);
  }

  &:disabled {
    color: #ffffff;
    background-color: #e5e5e5;
  }
}

.button__text {
  margin-left: auto;
  margin-right: auto;
}
