.feature {
  background-color: $main-bg-color;
  color: #ffffff;

  &--theme-grey {
    background-color: #eeeeee;
    color: #000000;
  }
}

.feature__fact {
  font-family: $basic-font-family;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 46px;
}

.feature__title {
  padding-top: 46px;
  font-size: 21px;
  margin: 0;
}

.feature__text {
  font-size: 14px;
  margin: 0;
  margin-top: 18px;

  &--theme-grey {
    color: #333333;
  }
}
