.feature {
  position: relative;
  color: #ffffff;

  &--befor-border::before {
    content: "";
    position: absolute;

    top: -1px;
    left: 20px;

    width: 280px;
    height: 1px;
    background-color: #d6d6d6;
  }
}

.feature__fact {
  font-family: $basic-font-family;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  background-color: $main-bg-color;
  text-transform: uppercase;
  padding-bottom: 40px;
  box-sizing: border-box;

  &--theme-grey {
    background-color: #eeeeee;
    color: #000000;
    padding-bottom: 26px;
  }

  @include container;
}

.feature__title {
  padding-top: 40px;
  line-height: 26px;
  font-size: 18px;
  margin: 0;

  &--theme-grey {
    padding-top: 30px;
  }
}

.feature__text {
  font-size: 14px;
  margin: 0;
  margin-top: 11px;

  &--theme-grey {
    color: #333333;
    margin-top: 12px;
  }
}

.feature__image {
  display: block;
  margin: 0 auto;
  height: 260px;
  width: 320px;
}

.feature__picture {
  height: 260px;
  width: 320px;
}

@media #{$tablet-widths} {
  .feature {
    display: flex;


    &--befor-border::before {
      display: none;
    }
  }

  .feature__fact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 256px;
    height: 256px;
    padding-top: 48px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 48px;


    &--devil-bridge {
      order: 2;
    }
  }

  .feature__title {
    padding-top: 0;
  }

  .feature__text {
    margin-top: 18px;
    margin-bottom: 0px;
  }

  .feature__image {
    width: 512px;
    margin: 0;

    &--devil-bridge {
      order: 1
    }
  }

  .feature__picture {
    width: 512px;
  }
}

@media #{$desktop-widths} {
  .feature__fact {
    width: 400px;
  }

  .feature__image {
    width: 800px;
  }

  .feature__picture {
    width: 800px;
  }
}
