.feature {
  position: relative;
  color: #ffffff;

  &--befor-border::before {
    content: "";
    position: absolute;

    top: -1px;
    left: 20px;

    width: 280px;
    height: 1px;
    background-color: #d6d6d6;
  }
}

.feature__fact {
  font-family: $basic-font-family;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  background-color: $main-bg-color;
  text-transform: uppercase;
  padding-bottom: 40px;
  box-sizing: border-box;

  &--real-town {
    position: relative;
    padding-top: 35px;

    &::before {
      content: "";
      position: absolute;
      height: 40px;
      width: 320px;

      top: 0;
      left: 0;
      right: 0;
      // left: 50%;
      // transform: translateX(-50%);

      background-image: url("../img/bg-triangle.svg");
      background-repeat: no-repeat;
    }

    &--devil-bridge {
      padding-bottom: 38px;
    }
  }

  @include container;

  &--theme-grey {
    background-color: #eeeeee;
    color: #000000;
    padding-bottom: 28px;

    padding-left: 35px;
    padding-right: 35px;
  }
}

.feature__title {
  padding-top: 41px;
  line-height: 26px;
  font-size: 18px;
  margin: 0;

  &--theme-grey {
    padding-top: 26px;
  }
}

.feature__text {
  font-size: 14px;
  margin: 0;
  margin-top: 11px;

  &--theme-grey {
    color: #333333;
    margin-top: 9px;
  }

  &--theme-grey-info {
    color: #333333;
    margin-top: 14px;
  }

  &--info {
    margin-top: 14px;
  }
}

.feature__image {
  display: block;
  margin: 0 auto;
  // height: 260px;
  width: 320px;
  overflow: hidden;
}

.feature__picture {
  height: auto;
  width: 320px;
}

@media #{$tablet-widths} {
  .feature {
    display: flex;
    font-size: 0;

    &--befor-border::before {
      display: none;
    }
  }

  .feature__fact {
    // display: flex;
    // flex-direction: column;
    width: 256px;
    min-height: 256px;

    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 0;

    &--real-town {
      padding-top: 0;
      padding-left: 45px;
      padding-right: 45px;

      &::before {
        content: none;
      }
    }

    &--theme-grey {
      padding-left: 50px;
      padding-right: 50px;
    }

    &--devil-bridge {
      order: 2;
    }
  }

  .feature__title {
    font-size: 21px;
    padding-top: 45px;
  }

  .feature__text {
    margin-top: 10px;
    margin-bottom: 20px;

    &--theme-grey {
      margin-top: 10px;
    }

    &--info {
      margin-bottom: 45px;
    }
  }

  // перенос текста с дефисом :sick:
  .feature__all-sight {
    display: block;
    position: relative;

    &::after {
      content: "-";
      position: absolute;

      top: -1px;
      right: 5px;
    }
  }

  .feature__image {
    width: 512px;
    position: relative;
    height: auto;
    margin: 0;

    &--devil-bridge {
      order: 1
    }
  }

  .feature__picture {
    width: 512px;
    // height: 100%;
  }
}

@media #{$desktop-widths} {
  .feature__fact {
    width: 400px;
    padding-left: 55px;
    padding-right: 55px;
  }

  .feature__title {
    width: 160px;
    padding-top: 50px;
    // align-self: center;
    margin-left: auto;
    margin-right: auto;
  }

  .feature__image {
    width: 800px;
    position: relative;
    overflow: hidden;
  }

  .feature__picture {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: auto;
    transform: translate(-50%,-50%);
  }

  // перенос текста с дефисом :sick:
  .feature__all-sight {

    &::after {
      right: 72px;
    }
  }

  .feature__not-only-br {
    display: block;
  }
}
