.feature {
  position: relative;
  background-color: $main-bg-color;
  color: #ffffff;

  &--theme-grey {
    background-color: #eeeeee;
    color: #000000;
  }

  &--befor-border::before {
    content: "";
    position: absolute;

    top: -1px;
    left: 20px;

    width: 280px;
    height: 1px;
    background-color: #d6d6d6;
  }
}

.feature__fact {
  font-family: $basic-font-family;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 46px;
}

.feature__title {
  padding-top: 46px;
  font-size: 21px;
  margin: 0;
}

.feature__text {
  font-size: 14px;
  margin: 0;
  margin-top: 18px;

  &--theme-grey {
    color: #333333;
  }
}
