.feedback-form {
  line-height: 26px;
  padding-bottom: 36px;
  text-align: left;

}

.feedback-form__contact-info {
  position: relative;
  border: 0;
  padding-top: 0;
  padding-bottom: 25px;
  margin: 0;

  @include container;

  &::before {
    content: "";
    position: absolute;

    top: 0;
    left: 0;

    width: 320px;
    height: 1px;
    background-color: #e5e5e5;
  }

  &--contacts {
    padding-bottom: 27px;
  }

  &--impression {
    padding-bottom: 17px;
  }

  &--sight {
    padding-bottom: 21px;
  }

  &--review {
    padding-bottom: 44px;
  }
}

.feedback-form__title {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  padding-top: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  &--impression {
    padding-bottom: 20px;
  }

  &--contacts {
    margin-bottom: 10px;
  }
}

.feedback-form__field-label {
  display: inline-flex;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  align-items: center;
  text-transform: uppercase;
  margin-top: 20px;

  &--padding {
    padding-left: 22px;
    margin-top: 10px;
    margin-bottom: 7px;
  }

  &--radio,
  &--checkbox {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: none;
  }

  &--radio {
    margin-top: 0;
    margin-bottom: 11px;
  }

  &--checkbox {
    margin-top: 17px;
  }

  &--devils-bridge {
    order: 1;
  }

  &--slide-park {
    order: 2;
  }

  &--mount-bell {
    order: 3;
  }

  &--red-rocks {
    order: 4;
  }
}

.feedback-form__sight-container {
  display: flex;
  flex-wrap: wrap;
}

.feedback-form__selector {
  display: none;
}

.feedback-form__radio-custom {
  display: block;
  position: relative;
  width: 58px;
  height: 58px;
  background-color: $form-input-bg-color;
  border: 1px solid $form-input-bg-color;
  border-radius: 50%;
  box-sizing: border-box;

  &:hover {
    background-color: #e5e5e5;
    border: 1px solid #e5e5e5;
  }

  &:active {
    background-color: #d5d5d5;
    border: 1px solid #d5d5d5;
  }
}

.feedback-form__selector--radio:checked +
.feedback-form__radio-custom::before {
  content: "";
  display: block;
  position: absolute;

  top: 18px;
  left: 16px;

  width: 22px;
  height: 22px;
  background-color: #333333;
  border: 1px solid #333333;
  border-radius: 50%;
  box-sizing: border-box;
}

.feedback-form__selector--radio:checked +
.feedback-form__radio-custom:active::before {
  background-color: rgba(51, 51, 51, .3);
  border: 0px solid rgba(51, 51, 51, .3);
}

.feedback-form__checkbox-custom {
  display: block;
  position: relative;
  width: 56px;
  height: 56px;
  background-color: $form-input-bg-color;
  border: 1px solid $form-input-bg-color;
  border-radius: 5px;
  box-sizing: border-box;

  &:hover {
    background-color: #e5e5e5;
    border: 1px solid #e5e5e5;
  }

  &:active {
    background-color: #d5d5d5;
    border: 1px solid #d5d5d5;
  }
}

.feedback-form__selector--checkbox:checked +
.feedback-form__checkbox-custom::before {
  content: "";
  display: block;
  position: absolute;

  top: 20px;
  left: 16px;

  width: 24px;
  height: 16px;
  background: url("../img/icon-tick.svg") no-repeat;
}

.feedback-form__selector--checkbox:checked +
.feedback-form__checkbox-custom:active::before {
  opacity: 0.3;
}

.feedback-form__label-text {

  &--checkbox,
  &--radio {
    margin-left: 22px;
  }
}

.feedback-form__field-input {
  height: 58px;
  width: 190px;

  border: 4px solid $form-input-bg-color;;
  background-color: $form-input-bg-color;
  box-sizing: border-box;
  margin-left: 15px;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;

  font-family: $basic-font-family;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;

  &--first-name-longer {
    width: 229px;
  }

  &--contact-info {
    margin-left: 0;
    width: 222px;
  }

  &--textarea {
    width: 280px;
    min-height: 160px;
    margin-left: 0;
    margin-top: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &:hover {
    border: 4px solid #e5e5e5;
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: #ffffff;
    border: 4px solid #e5e5e5;
    padding-left: 16px;
  }

  /* Кроссбраузерные стили для placeholder */

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000000;
  }

  &::-moz-placeholder { /* Firefox 19+ */
    color: #000000;
  }

  &:-ms-input-placeholder { /* IE 10+ */
    color: #000000;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: #000000;
  }
}

.feedback-form__field-container {
  display: flex;
}

.feedback-form__field-icon {
  border: 0;

  height: 58px;
  min-width: 58px;
  padding: 0;
  margin: 0;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;

  &--telephone {
    background-image: url("../img/icon-phone.svg");
  }

  &--email {
    background-image: url("../img/icon-mail.svg");
  }
}

.feedback-form__error-message {
  display: block;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #ff5c5c;
  text-transform: none;
  padding-top: 5px;
  padding-left: 20px;
  box-sizing: border-box;
}

.feedback-form__button {
  height: 58px;
  width: 280px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
}

.feedback-form__notice {
  display: none;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

@media #{$tablet-widths} {
  .feedback-form {
    display: flex;
    width: 648px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 60px;
  }

  .feedback-form__contact-info {
    width: 648px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 51px;

    &::before {
      content: none;
    }

    &--full-name {
      width: 324px;
      padding-left: 54px;
      box-sizing: border-box;
      order: 2;

      &::before {
        content: "";
        position: absolute;

        top: 0;
        left: 0;

        transform: rotate(90deg);
        transform-origin: left;

        width: 292px;
        height: 1px;
        background-color: #e5e5e5;
      }
    }

    &--contacts {
      order: 3;
      padding-bottom: 28px;
    }

    &--impression {
      width: 324px;
      order: 1;
    }

    &--sight {
      display: flex;
      flex-wrap: wrap;
      width: 648px;
      order: 4;
      padding-bottom: 53px;
    }

    &--review {
      order: 5;
      padding-bottom: 52px;
    }

    &--half-size-form {
      width: 324px;
    }
  }

  .feedback-form__label-text {

    &--checkbox {
      margin-left: 24px;
    }
  }


  .feedback-form__field-input {
    margin-left: 14px;
    width: 182px;

    &--first-name-longer {
      width: 218px;
    }

    &--contact-info {
      width: 590px;
      margin-left: 0px;
    }

    &--textarea {
      width: 648px;
      margin-top: 30px;
      margin-left: 0;
    }
  }

  .feedback-form__title {
    position: relative;
    width: 400px;
    padding: 0 55px;
    margin-bottom: 26px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: left;

    &::before {
      content: "";
      position: absolute;

      top: 50%;
      transform: translateY(-50%);
      left: 0;
      transform: translateX(-100%);

      width: 125px;
      height: 1px;
      background-color: #e5e5e5;
    }

    &::after {
      content: "";
      position: absolute;

      top: 50%;
      transform: translateY(-50%);
      right: 0;
      transform: translateX(100%);

      width: 125px;
      height: 1px;
      background-color: #e5e5e5;
    }

    &--full-name {
      width: 270px;
      padding: 0;
      margin-bottom: 39px;

      &::before,
      &::after {
        content: none;
      }
    }

    &--impression {
      width: 324px;
      padding: 0;
      margin-bottom: 57px;

      &::before,
      &::after {
        content: none;
      }
    }

    &--contacts {
      text-align: center;
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 25px;
    }

    &--sight {
      text-align: center;
    }

    &--review {
      text-align: center;
    }
  }

  .feedback-form__field-label {
    order: 0;

    &--padding {
      margin-top: 0;
      margin-bottom: 0;
      order: 1;
    }

    &--radio {
      margin-left: 0;
      margin-bottom: 20px;
    }

    &--checkbox {
      width: 229px;
      margin-bottom: 15px;

      &:nth-child(odd) {
        margin-left: 95px;
      }

      &:nth-child(even) {
        margin-left: 30px;
      }
    }
  }

  .feedback-form__error-message {
    height: 26px;
    padding-top: 0;
    margin-left: auto;
    order: 2;
  }

  .feedback-form__button {
    order: 6;
    width: 324px;
    margin-left: 0;
  }

  // таблетка
  .feedback-form__column {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    width: 648px;
    box-sizing: border-box;
  }

  .feedback-form__field-container {
    margin-top: 5px;
    margin-bottom: 25px;
    order: 3;
  }

  .feedback-form__notice {
    display: block;
    order: 7;
    margin: auto 0;
  }
}

@media #{$desktop-widths} {
  .feedback-form {
    width: 960px;
    padding-top: 0px;
    padding-bottom: 67px;
  }

  .feedback-form__contact-info {
    width: 960px;


    &--impression {
      width: 480px;
      padding-bottom: 45px;
    }

    &--full-name {
      width: 480px;
      padding-left: 78px;
      padding-bottom: 48px;
    }

    &--contacts {
      width: 960px;
      font-size: 0px;
      padding-bottom: 30px;
    }

    &--sight {
      padding-bottom: 50px;
    }
  }

  .feedback-form__title {

    &::before {
      width: 280px;
    }

    &::after {
      width: 280px;
    }

    &--full-name {
      margin-left: 0;
    }

    &--impression {
      width: 400px;
      padding-left: 78px;
    }

    &--contacts {
      margin-bottom: 44px;
    }
  }

  .feedback-form__field-input {
    width: 312px;

    &--first-name-longer {
      width: 350px;
    }

    &--textarea {
      width: 960px;
      margin-top: 30px;
    }
  }

  .feedback-form__container {
    display: flex;
    align-items: flex-end;
  }

  .feedback-form__column {
    display: flex;
    width: 480px;
    font-size: 0;
  }

  .feedback-form__field-label {

    &--padding {
      display: inline-flex;
      margin-top: 0;
      padding-left: 0;
      padding-right: 16px;
      padding-bottom: 15px;
      order: 2;
    }

    &--selector {
      display: inline-flex;

      &:first-child {
        margin-right: 58px;
      }
    }

    &--checkbox {
      width: 205px;

      &:nth-child(4n + 1) {
        margin-left: 0;
      }

      &:nth-child(4n + 2) {
        margin-left: 55px;
      }

      &:nth-child(4n + 3) {
        margin-left: 53px;
      }

      &:nth-child(4n + 4) {
        margin-left: 30px;
      }
    }
  }

  .feedback-form__field-container {
    display: inline-flex;
    width: 315px;
    order: 3;
  }

  .feedback-form__disable {
    display: none;
  }

  .feedback-form__error-message {
    min-width: 470px;
    margin-left: 0;
    font-size: 14px;
    padding-left: 106px;
    order: 1;
  }

  .feedback-form__button {
    width: 480px;
  }
}
