.info-section {
  font-family: $basic-font-family;
  text-transform: uppercase;
  line-height: 26px;
}

.info-section__image {
  width: 320px;
  height: 158px;
  margin: 0 auto;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: #e4f1f9;
  background-position: center;
  background-repeat: no-repeat;

  &--shorter {
    height: 158px;
  }
}

.info-section__facts {
  padding-top: 40px;
}

.info-section__promo {
  @include container;
  margin-top: 40px;
}

.info-section__title {
  margin: 0 auto;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.info-section__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  margin-top: 24px;
  margin-bottom: 22px;

  &--low {
    // text-transform: none;
    margin-bottom: 26px;
  }
}

.info-section__reasons {
  font-size: 14px;
  color: #333333;
  font-weight: 400;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 40px;
  @include container;
}

@media #{$tablet-widths} {
  .info-section__image {
    height: 518px;
  }

  .info-section__facts {
    padding-top: 50px;
  }

  .info-section__promo {
    padding: 0;
    margin-top: 75px;
  }

  .info-section__title {
    width: 510px;
    font-size: 21px;

    &--promo {
      font-size: 30px;
    }
  }

  .info-section__text {
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;

    &--low {
      width: 445px;
      margin-bottom: 75px;
    }
  }
  .info-section__image {
    width: 768px;

    &--shorter {
      height: 290px;
    }
  }

  .info-section__reasons {
    margin-top: 30px;
    margin-bottom: 49px;
  }
}

@media #{$desktop-widths} {
  .feature__fact {
    padding-left: 55px;
    padding-right: 55px;

  }

  .feature__title {
    width: 160px;
    padding-top: 50px;
    align-self: center;
  }


  .info-section__image {
    width: 1200px;
  }

  .info-section__reasons {
    margin-top: 30px;
  }

  .info-section__promo {
    margin-top: 114px;
  }
}
