.info-section {
  font-family: $basic-font-family;
  text-transform: uppercase;
  line-height: 26px;
}

.info-section__image {
  width: 320px;
  height: 389px;
  margin: 0 auto;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: #e4f1f9;
  background-position: center;
  background-repeat: no-repeat;

  &--shorter {
    height: 158px;
  }
}

.info-section__facts {
  @include container;
  padding-top: 46px;
}

.info-section__promo {
  @include container;
  padding-top: 45px;
}

.info-section__title {
  margin: 0 auto;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.info-section__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 22px;

  &--low {
    text-transform: none;
    margin-bottom: 33px;
  }
}

.info-section__reasons {
  font-size: 14px;
  color: #333333;
  font-weight: 400;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 32px;
}

@media #{$tablet-widths} {
  .info-section__facts {
    padding-top: 50px;
  }

  .info-section__promo {
    padding-top: 75px;
  }

  .info-section__title {
    width: 510px;
    font-size: 21px;

    &--promo {
      font-size: 30px;
    }
  }

  .info-section__text {
    margin-left: auto;
    margin-right: auto;

    &--low {
      width: 430px;
      margin-bottom: 75px;
    }
  }
  .info-section__image {
    width: 768px;

    &--shorter {
      height: 290px;
    }
  }

  .info-section__reasons {
    margin-top: 40px;
    margin-bottom: 55px;
  }
}

@media #{$desktop-widths} {
  .info-section__image {
    width: 1200px;
  }

  .info-section__reasons {
    margin-top: 50px;
  }

  .info-section__promo {
    padding-top: 114px;
  }
}
