.info-section {
  font-family: $basic-font-family;
  text-transform: uppercase;
  line-height: 26px;
  background-color: #ffffff;
}

.info-section__image {
  position: relative;
  width: 320px;
  height: 389px;
  margin: 0 auto;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: #6d879c;
  background-position: top;
  background-repeat: no-repeat;

  @media #{$retina} {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: cover;
  }

  &::after {
    content: "";
    position: absolute;
    height: 26px;
    width: 100%;

    bottom: 0;
    left: 0;
    right: 0;
    // left: 50%;
    // transform: translateX(-50%);

    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--shorter {
    height: 158px;
    background-position: bottom;
  }
}

.info-section__index-text {
  width: 281px;
  margin-top: 90px;

  &--shorter {
    height: 38px;
    width: 229px;
    margin-top: 52px;
  }
}

.info-section__facts {
  padding-top: 40px;
}

.info-section__promo {
  @include container;
  margin-top: 40px;

  &--photo {
    margin-top: 37px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.info-section__title {
  margin: 0 auto;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.info-section__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  margin-top: 24px;
  margin-bottom: 16px;

  &--photo-low {
    margin-top: 26px;
    margin-bottom: 27px;
  }
}

.info-section__reasons {
  font-size: 14px;
  color: #333333;
  font-weight: 400;
  margin: 0;
  margin-top: 26px;
  margin-bottom: 5px;
  @include container;
}

@media #{$tablet-widths} {
  .info-section__image {
    width: 768px;
    height: 518px;
    background-image: url("../img/bg-back-tablet@1x.jpg");

    @media #{$retina} {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }

    &::after {
      height: 57px;
      background-image: url("../img/bg-intro-triangle-tablet.svg");
    }

    &--shorter {
      height: 290px;
    }
  }

  .info-section__index-text {
    width: 460px;
    height: 350px;
    margin-top: 77px;

    &--shorter {
      height: 80px;
      width: 500px;
      margin-top: 96px;
    }
  }

  .info-section__facts {
    padding-top: 50px;
  }

  .info-section__promo {
    padding: 0;
    margin-top: 75px;
  }

  .info-section__title {
    width: 510px;
    font-size: 21px;

    &--promo {
      font-size: 30px;
    }
  }

  .info-section__text {
    width: 445px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 73px;

    &--photo-low {
      //фото и видео margin
      margin-bottom: 70px;
    }
  }

  .info-section__reasons {
    margin-top: 30px;
    margin-bottom: 49px;
  }
}

@media #{$desktop-widths} {
  .info-section__image {
    width: 1200px;
    height: 518px;
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media #{$retina} {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }

    &::after {
      background-image: url("../img/bg-intro-triangle-desktop.svg");
    }

    &--shorter {
      height: 301px;
    }
  }

  .info-section__index-text {
    margin-top: 78px;

    &--shorter {
      width: 461px;
      margin-top: 104px;
    }
  }

  .info-section__reasons {
    margin-top: 30px;
  }

  .info-section__promo {
    margin-top: 111px;
  }

  .info-section__text {
    margin-bottom: 60px;

    &--photo-low {
      //фото и видео margin
      margin-bottom: 70px;
    }
  }
}
