.main-menu {
  display: none;
  min-width: 320px;

  &--no-js {
    display: block;
  }
}

.main-menu__list {
  margin: 0;
  padding: 0;
}

.main-menu__modal-content-show {
  display: block;
  animation: bounce 0.6s;
}

.main-menu__item {
  display: flex;
  height: 56px;
  position: relative;
  background-color:  $main-bg-color;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid $menu-bottom-border-color;

  font-family: $basic-font-family;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  &:hover {
    background-color: #669ec0;
  }
}

.main-menu__cross-button {
  position: absolute;

  top: 16px;
  right: 20px;

  width: 22px;
  height: 22px;
  background-image: url("../img/icon-cross.svg");
  cursor: pointer;
}

.main-menu__link {
  text-decoration: none;
  color: $menu-font-color;

  &:active {
    color: rgba(255, 255, 255, .3);
  }

  &--disabled {

    :disabled {
      color: #e5e5e5;
    }
  }
}

@media #{$tablet-widths} {
  .main-menu {
    display: block;
  }

  .main-menu__list {
    display: flex;
    width: 768px;
  }

  .main-menu__item {
    min-height: 56px;
    width: 20%;
    background-color: #ffffff;
    border: 0;

    font-size: 14px;
    line-height: 26px;

    &:hover {
      background-color: transparent;
    }

    &--third {
      margin-left: auto;
    }

    &--after-cross-button::after {
      display: none;
    }
  }

  .main-menu__link {
    display: block;
    padding: 15px 0;
    color: #000000;

    &:hover {
      color: #81b3d2;
    }

    &:active {
      color: rgba(0, 0, 0, .3);
    }

    &--active {
      color: #766357;

      &:hover {
        color: #604e43;
      }

      &:active {
        color: rgba(118, 99, 87, .3);
      }
    }
  }

  .main-header__menu-button {
    display: none;
  }
}

@media #{$desktop-widths} {
  .main-menu__list {
    width: 1200px;
  }

  .main-menu__item {

    &--main {
      margin-left: 91px;
    }

    &--photo-video {
      margin-left: 161px;
    }

    &--feedback-form {
      margin-left: auto;
    }

    &--html-academy {
      margin-left: 137px;
      margin-right: 70px;
    }

    &--after-cross-button::after {
      display: none;
    }
  }
}
