.main-footer {
  text-transform: uppercase;
  line-height: 26px;
  color: #000000;

  @include container;
}

.main-footer__title {
  font-size: 21px;
  font-weight: 700;
  margin-top: 40px;
}

.main-footer__social-button {
  display: inline-block;
  width: 46px;
  height: 48px;
  background-color: $main-bg-color;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center;

  &--twitter {
    background-image: url("../img/icon-twitter.svg");

  }

  &--facebook {
    background-image: url("../img/icon-facebook.svg");

  }

  &--youtube {
    background-image: url("../img/icon-youtube.svg");
  }
}

.main-footer__copyright {
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  margin-top: 40px;
  margin-bottom: 23px;
}

.main-footer__copyright-icon {
  display: inline-block;
  width: 27px;
  height: 34px;
  font-size: 0;
  margin-left: 11px;

  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media #{$tablet-widths} {
  .main-footer {
    display: flex;
    min-height: 120px;
    width: 768px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    padding: 0 60px;
  }
}
