.main-header {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin: 0 auto;

  @media #{$tablet-widths} {
    height: 56px;
  }
}

.main-header__logo {
  position: absolute;

  top: 164px;
  left: 110px;

  order: 2;
  z-index: 10;

  @media #{$tablet-widths} {
    top: 0;
    left: 333px;
  }

  @media #{$desktop-widths} {
    top: 0;
    left: 507px;
  }
}

.main-header__menu-button {
  display: inline-block;
  position: relative;
  margin-top: 17px;
  margin-bottom: 18px;
  margin-left: auto;
  margin-right: 20px;
  order: 3;
}

.main-header__menu {
  order: 1;
}
