.main-features {
  font-family: $basic-font-family;
  text-transform: uppercase;

  @include container;

  padding-top: 35px;
  padding-left: 0;
  padding-bottom: 5px;
}

.main-features__advice {
  text-align: left;
  padding-left: 70px;
}

.main-features__title {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  margin: 0;
  margin-bottom: 14px;

  &::before {
    content: "";
    position: absolute;
    width: 39px;
    height: 37px;

    top: -10px;
    left: -48px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &--house::before {
    background-image: url("../img/icon-house.svg");
  }

  &--souvenir::before {
    background-image: url("../img/icon-gift.svg");
  }

  &--food::before {
    top: -5px;
    left: -50px;
    background-image: url("../img/icon-burger.svg");
  }
}

.main-features__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin: 0;
  margin-bottom: 27px;
}

@media #{$tablet-widths} {
  .main-features {
    display: flex;
    padding: 0;
    padding-top: 0;
    justify-content: center;
  }

  .main-features__advice {
    text-align: center;
    width: 256px;
    padding: 0 45px;
    padding-top: 160px;
    box-sizing: border-box;

    &--house {
      order: 1;
    }

    &--souvenir {
      order: 3;
    }

    &--food {
      order: 2;
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  .main-features__title {
    font-size: 21px;
    margin-bottom: 20px;

    &::before {
      width: 75px;
      height: 72px;

      top: -100px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }

    &--souvenir::before {
      top: -103px;
      left: -3px;
    }
  }

  .main-features__text {
    margin-bottom: 60px;
  }
}

@media #{$desktop-widths} {
  .main-features__advice {
    width: 400px;
  }

  .main-features__text {
    width: 290px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
  }

  .main-features__not-only-br {
    display: block;
  }
}
