.map {
  position: relative;
  width: 320px;
  height: 350px;
  overflow: hidden;
  background-color: #f4f3f0;
}

.mao__picture {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  transform: translate(-50%,-50%);
}

@media #{$tablet-widths} {
  .map,
  .map__picture {
    width: 768px;
  }
}

@media #{$desktop-widths} {
  .map,
  .map__picture {
    width: 1200px;
  }
}
