.picture {
  position: relative;
  font-family: $basic-font-family;
  font-size: 14px;
  line-height: 24px;
  text-align: left;

  @include container;

  &::before {
    content: "";
    position: absolute;

    top: -1px;
    left: 0;

    width: 320px;
    height: 1px;
    background-color: #e5e5e5;
  }
}

.picture__image {
  padding: 22px 0;
}

.picture__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.picture__text {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 400;
  color: #333333;
}

.picture__likes-counter {
  padding-bottom: 21px;
}

.picture__like-button {
  border: 0;
  background: transparent;

  width: 23px;
  height: 22px;

  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  cursor: pointer;
}

.picture__count {
  margin-left: 9px;
  font-weight: 700;
  color: #000000;
}

@media #{$tablet-widths} {
  .gallery-content {
    width: 648px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .picture {
    padding: 0;
    width: 324px;

    &--first {
      width: 648px;
      // height: 480px;
    }

    &::before {
      display: none;
    }
  }

  .picture__source {
    width: 324px;

    &--main {
      width: 648px;
      height: 400px;
    }
  }

  .picture__image {
    padding: 0;

    &--main {
      width: 648px;
      height: 400px;
    }
  }

  .picture__title {
    display: block;
    font-size: 14px;
    margin-bottom: 0;
  }

  .picture__text {
    margin-bottom: 0;
  }

  .picture__likes-counter {
    padding: 0;
    margin: auto;
    margin-right: 20px;
  }

  .picture__footer {
    display: flex;
    height: 80px;
    box-sizing: border-box;
    background-color: #f2f2f2;
  }

  .pictute__sign-block {
    padding-left: 20px;
    margin: auto 0;
  }
}

@media #{$desktop-widths} {
  .gallery-content {
    width: 1200px;
  }

  .picture {
    position: relative;
    padding: 0;
    width: 400px;

    &--first {
      width: 1200px;
      margin: 0 auto;
    }
  }

  .picture__image {
    padding: 0;
    height: 267px;

    &--main {
      height: 400px;
      width: 1200px;
    }
  }

  .picture__source {
    width: 400px;
    height: 267px;

    &--main {
      height: 400px;
      width: 1200px;
    }
  }

  .picture__footer {
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    transform: translateY(-100%);

  }

  .picture__text {
    color: #ffffff;
  }

  .picture__title {
    color: #ffffff;
  }

  .picture__count {
    color: #ffffff;
  }
}
