.search-hotel {
  padding-top: 30px;
  padding-bottom: 49px;
  text-transform: uppercase;
  margin: 0 auto;

  @include container;
}

.search-hotel__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.search-hotel__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  margin-top: 0;
  margin-bottom: 35px;
}

.search-hotel__button {
  height: 58px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  &--disabled {
    color: #ffffff;
    background-color: #e5e5e5;
  }
}

@media #{$tablet-widths} {
  .search-hotel {
    width: 458px;
    padding-top: 56px;
    padding-bottom: 60px;
  }

  .search-hotel__title {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 30px;
  }

  .search-hotel__text {
    margin-bottom: 41px;
  }
}

@media #{$desktop-widths} {
  .search-hotel {
    padding-bottom: 64px;
  }

  .search-hotel__text {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}
