.video-content {
  font-family: $basic-font-family;
  text-transform: uppercase;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 40px;
}

.video-content__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 35px;
}

.video-content__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
  margin-top: 0;
  margin-bottom: 40px;
}
