.video-content {
  position: relative;
  font-family: $basic-font-family;
  text-transform: uppercase;
  padding-top: 35px;
  padding-bottom: 60px;

  &::before {
    content: "";
    position: absolute;

    top: -1px;
    left: 0;

    width: 320px;
    height: 1px;
    background-color: #e5e5e5;
  }
}

.video-content__video-clip {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.video-content__image-poster {
  position: relative;
  width: 320px;
  height: 201px;
  overflow: hidden;
}

.video-content__picture-source {
  position: absolute;
  width: 320px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.video-content__controls {
  position: relative;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-45px);
}

.video-content__scroll-bar {
  position: relative;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.6);

  &::before {
    content: "";
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 235px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.3);
  }

  &::after {
    content: "";
    position: absolute;

    top: 50%;
    left: 22%;
    transform: translate(-50%, -50%);

    width: 9px;
    height: 9px;
    background-color: #ffffff;
    border-radius: 50%;
  }
}

.video-content__control-buttons {
  position: absolute;
  display: flex;
  height: 66px;
  width: 100%;
  align-items: center;
  background-color: #f2f2f2;
}

.video-content__button {
  height: 20px;
  border: 0;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  color: #5c6870;

  &--repeat {
    min-width: 16px;
    margin-left: 25px;
  }

  &--subtitle {
    min-width: 32px;
    margin-left: auto;
    margin-right: 31px;
  }

  &--full-screen {
    min-width: 20px;
    margin-right: 23px;
  }

  &:hover > .video-content__button-color {
    fill: #333333;
  }

  &:active > .video-content__button-color {
    fill: rgba(51, 51, 51, .3);
  }
}

.video-content__button-color {
  fill: currentColor;
}

.video-content__footer {
  @include container;
}

.video-content__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 25px;
}

.video-content__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
  margin-top: 0;
  margin-bottom: 35px;
}

.video-content__not-only-br {
  display: block;
}

@media #{$tablet-widths} {
  .video-content {
    padding-top: 68px;
    padding-bottom: 38px;
    margin: 0 auto;

    &::before {
      display: none;
    }
  }

  .video-content__video-clip {
    height: 501px;
    width: 648px;
  }

  .video-content__title {
    font-size: 30px;
    margin-bottom: 28px;
  }

  .video-content__text {
    width: 420px;
    margin: 0 auto;
    margin-bottom: 73px;
  }

  .video-content__not-only-br {
    display: inline;
  }

  .video-content__image-poster {
    height: 500px;
    width: 100%;
  }

  .video-content__picture-source {
    width: 100%;
  }

  .video-content__controls {
    width: 100%;
    transform: translateY(-93px);
  }

  .video-content__scroll-bar {
    height: 93px;

    &::before {
      width: 389px;
      left: 44%;
    }

    &::after {
      left: 32.5%;
    }
  }

  .video-content__button {
    color: #ffffff;

    &--repeat {
      margin-left: 35px;
    }

    &--subtitle {
      margin-left: auto;
      margin-right: 31px;
    }

    &--full-screen {
      margin-right: 41px;
    }
  }

  .video-content__control-buttons {
    height: 93px;
    transform: translateY(-100%);
    background-color: transparent;
  }
}

@media #{$desktop-widths} {
  .video-content {
    padding-bottom: 85px;
  }

  .video-content__title {
    margin-bottom: 35px;
  }

  .video-content__text {
    margin-bottom: 70px;
  }

  .video-content__video-clip {
    width: 800px;
  }

  .video-content__image-poster,
  .video-content__picture-source {
    width: 800px;
  }

  .video-content__button {

    &--repeat {
      margin-left: 34px;
    }

    &--full-screen {
      margin-right: 43px;
    }
  }

  .video-content__scroll-bar {

    &::before {
      width: 540px;
      left: 45.2%;
    }

    &::after {
      left: 26%;
    }
  }
}
