.video-content {
  position: relative;
  font-family: $basic-font-family;
  text-transform: uppercase;
  padding-top: 39px;
  padding-bottom: 40px;

  &::before {
    content: "";
    position: absolute;

    top: -1px;
    left: 0;

    width: 320px;
    height: 1px;
    background-color: #e5e5e5;
  }
}

.video-content__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 35px;
}

.video-content__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
  margin-top: 0;
  margin-bottom: 40px;
}
